.main {
  display: flex;
  min-height: 100vh;
}

.loginFormArea {
  --form-padding: 40px;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 1000px;
  background: #fff;
  border-radius: 15px;
  margin: auto;
  overflow: hidden;
}

.leftLoginArea {
  width: 40%;
  padding: var(--form-padding);
}

.leftLoginArea > h1 {
  font-weight: 700;
  font-size: 32px;
}

.leftLoginArea > p {
  color: #aaa;
  margin: 0;
}

.leftLoginArea > form {
  margin-top: 30px;
}

.leftLoginArea label {
  font-weight: 600;
  margin-bottom: 7px;
}

.leftLoginArea input, .leftLoginArea button {
  width: 100%;
  padding: 10px 15px;
  border-radius: var(--button-radius);
  outline: 0;
}

.leftLoginArea input {
  margin-bottom: 20px;
  border: 1px solid hsl(0, 0%, 67%);
}

.leftLoginArea input::placeholder {
  opacity: 0.7;
}

.leftLoginArea button {
  border: 0;
  background: var(--primary);
  color: #fff;
  margin-top: 5px;
}

.rightLoginArea {
  width: 60%;
  padding: calc(var(--form-padding) * 1.5);
  text-align: center;
  background: #f9f6fd;
}

.rightLoginArea > img {
  width: 100%;
  max-width: 375px;
}

.rightLoginArea > h4 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.rightLoginArea > h5 {
  font-size: 40px;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 15px;
}